<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigations.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-staff<% } else { %>add-staff<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<% if (editing) { %><%= staff.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="doB">doB</label>
                <input type="date" name="doB" id="doB" value="<% if (editing) { %><%= staff.doB %><% } %>">
            </div>


            <% if (editing) { %>
                <input type="hidden" value="<%= staff._id %>" name="staffId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Staff<% } else { %>Add Staff<% } %></button>
        </form>
    </main>
</body>

<%- include('../includes/end.ejs') %>