<div class="backdrop"></div>

<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/home' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/staff/detail' ? 'active' : '' %>" href="/staff/detail">Staff Detail</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/staff/annual-leave' ? 'active' : '' %>" href="/staff/annual-leave">Annual Leave</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/staff/time-log' ? 'active' : '' %>" href="/staff/time-log">Time-log</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/covid' ? 'active' : '' %>" href="/staff/covid">Covid Cirriculum</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/staffs' ? 'active' : '' %>" href="/admin/staffs">Danh sách nhân viên</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-staff' ? 'active' : '' %>" href="/admin/add-staff">Thêm nhân viên
                </a>
            </li>  
        </ul>

        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/home' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/staff/detail' ? 'active' : '' %>" href="/staff/detail">Staff Detail</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/staff/annual-leave' ? 'active' : '' %>" href="/staff/annual-leave">Annual Leave</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/staff/time-log' ? 'active' : '' %>" href="/staff/time-log">Time-log</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/covid' ? 'active' : '' %>" href="/staff/covid">Covid Curriculum</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/staffs' ? 'active' : '' %>" href="/admin/staffs">Danh sách nhân viên</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/add-staff' ? 'active' : '' %>" href="/admin/add-staff">Thêm nhân viên
            </a>
        </li>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
    
</nav>