<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigations.ejs') %>
    <h1>Xin chào <% staff.name %></h1>

    <main>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">Apply for Annual Leave</h1>
            </header>

        <div class="card__content">
            <p>Annual Leave: <%= staff.annualLeave %> days</p>
        </div>

        <div class="card__content">
            <p>Available Annual Leave: <%= availableLeaves %> days</p>
        </div>

        <form class="product-form"  method="POST">
            <div class="form-control">
                <label for="startLeave">Start Leave</label>
                <input type="date" name="startLeave" id="startLeave" >
            </div>
            <div class="form-control">
                <label for="duration">Duration (hours)</label>
                <select class="form-select"
                    id="duration"
                    name="duration"
                    required>
                        <option value="">Choose option</option>
                        <option>8</option>
                        <option>4</option>
                </select>
            </div>
            <div class="form-control">
                <label for="reason">Reason</label>
                <input type="text" name="reason" id="reason" >
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Apply</button>
        </form>

 

    </article>
       
    </main>
    

</body>

<%- include('includes/end.ejs') %>