<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigations.ejs') %>

    <main>
        <div class="px-4 py-5 my-5 text-center">
            <h1>Welcome <%= staff.name %></h1>
            <p>Working status: <%= isWorking ? 'on' : 'off' %> </p>
        </div>

        <div>
          <a href="/staff/annual-leave" class="btn">Annual Leave</a>
          <a href="/staff/time-log" class="btn">Time Log</a>
        </div>

            


        </div>
    </main>
</body>

<%- include('./includes/end.ejs') %>