<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigations.ejs') %>

    <h1>Xin chào <%= staff.name %>!</h1>

    <ul class="main-header__item-list">
        <li class="main-header__item">
            <form class="product-form" >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit"><% if (currentTimeLog) { %>Bắt đầu<% } else { %>Kết thúc<% } %></button>
            </form>
        </li>
    </ul>

    <ul class="main-header__item-list">
        <li class="main-header__item">
            <form class="product-form" >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit"><% Nghỉ phép %></button>
            </form>
        </li>
    </ul>

    <div>
        <% if (timeLogs.length == 0) { %>
            <p>No time logs.</p>
        <%} else { %>
            <ul>
                <% for (let log of timeLogs) { %>
                    <li><%= log.startedAt %> - <%= log.endedAt %></li>
                <% } %>
            </ul>
        <% } %>
    
        <p>Total: <%= total / 1000 / 3600 %> gio</p>
    </div>
    
</body>

<%- include('./includes/end.ejs') %>