<%- include('../includes/head.ejs') %>

</head>

<body>
  <%- include('../includes/navigations.ejs') %>

  <main>
    <h1>This is List of TimeLog in Month</h1>
    <div>
      <% if (data.length > 0) { %>
        <div class="card">
          <ul class="list-group list-group-flush">
            <% for( let index = 0; index < data.length; index++ ) { %>
              <li><%= data[index].date %></li>
              <% if (data[index].dayLogs.length > 0 ) { %>
                <ul class="list-group list-group-flush">
                  <% for (let i = 0; i < data[index].dayLogs.length; i++ ) { %>
                    <li class="list-group-item">Start: <%= data[index].dayLogs[i].start %>  - End: <%= data[index].dayLogs[i].end %> - Workplace: <%= data[index].dayLogs[i].workplace %> </li>
                  <% } %> 
                  <li class="list-group-item">Total working: <%= data[index].working %>h </li>
                  <li class="list-group-item">Total leave: <%= data[index].leave %>h </li>
                  <li class="list-group-item">Total overTime: <%= data[index].overTime %>h </li>
                </ul>
              <% } else { %>
                <p>No time logs this day!</p>
              <% } %>
                    
            <% } %>
          </ul>
        </div>
      <% } else { %>
        <p>No time logs found!</p>
      <% } %>
    </div>
       
  </main>
</body>

<%- include('../includes/end.ejs') %>