<%- include('../includes/head.ejs') %>

</head>

<body>
  <%- include('../includes/navigations.ejs') %>

  <main>
    <form class="product-form" method="POST">
      <div class="form-control">
        <label for="month">Month</label>
        <select class="form-select"
            id="month"
            name="month"
            required>
                <option value="">Choose a month</option>
                <% for ( var i = 1 ; i <=12; i++ )
                {
                  var selected = ( month == i ) ? "selected" : "";
                  %><option value="<%= i %>" <%=selected %>><%=i %></option><%
                }
                %>
        </select>
      </div>

      <div class="form-control">
          <label for="year">Year</label>
          <input type="number" name="year" id="year" value="<%= year %>">
      </div>
      
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn" type="submit">Apply</button>
  </form>

    <h1>This is List of TimeLog in Month</h1>
    <% if (data) { %>
      <div>
        <% if (data.length > 0) { %>
          <div class="card">
            <ul class="list-group list-group-flush">
              <% for( let index = 0; index < data.length; index++ ) { %>
                <li><%= data[index].date %></li>
                <% if (data[index].dayLogs.length > 0 ) { %>
                  <ul class="list-group list-group-flush">
                    <% for (let i = 0; i < data[index].dayLogs.length; i++ ) { %>
                      <li class="list-group-item">Start: <%= data[index].dayLogs[i].startedAt %>  - End: <%= data[index].dayLogs[i].endedAt %> - Workplace: <%= data[index].dayLogs[i].workplace %> </li>
                    <% } %> 
                    <li class="list-group-item">Total working: <%= data[index].working %>h </li>
                    <li class="list-group-item">Total leave: <%= data[index].leave %>h </li>
                    <li class="list-group-item">Total overTime: <%= data[index].overTime %>h </li>
                  </ul>
                <% } else { %>
                  <p>No time logs on this day!</p>
                <% } %>
                      
              <% } %>
            </ul>
          </div>
        <% } else { %>
          <p>No time logs found!</p>
        <% } %>
      </div>

    <% } %> 
       
  </main>
</body>

<%- include('../includes/end.ejs') %>