<%- include('../includes/head.ejs') %>
<style>
  .time-log-form {
    max-width: 350px;
  }
</style>
</head>

<body>
  <%- include('../includes/navigations.ejs') %>

  <ul class="main-header__item-list">
    <li class="main-header__item">
      Body Temperature
    </li>
    <li class="card__actions">
      <a href="/staff/covid/add-body-temperature" class="btn">Add</a>
    </li>
  </ul>

  


  <% if (temps.length> 0) { %>
    <div class="grid">
        <% for( let index = 0; index < temps.length; index++ ) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                      <%= temps[index].date %>
                    </h1>
                </header>
                <div class="card__content">
                    <p>
                      Temperature: <%= temps[index].temp %>
                    </p>
                </div>
            </article>
            <% } %>
    </div>
    <% } else { %>
        <h1>No history!</h1>
  <% } %>
</main>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/form.js"></script>
</body>

<%- include('../includes/end.ejs') %>
