<%- include('../includes/head.ejs') %>
<style>
  .time-log-form {
    max-width: 350px;
  }
</style>
</head>

<body>
  <%- include('../includes/navigations.ejs') %>

  <ul class="main-header__item-list">
    <li class="main-header__item">
      Covid History
    </li>
    <li class="card__actions">
      <a href="/staff/covid/add-covid" class="btn">Add</a>
    </li>
  </ul>

  <div>
    <% if (covids.length > 0) { %>
      <div class="card">
        <ul class="list-group list-group-flush">
          <% for( let index = 0; index < covids.length; index++ ) { %>
            <li class="list-group-item">Time <%= index+1 %> - Start: <%= covids[index].start %>  - End: <%= covids[index].end %> 
            </li>
          <% } %>
        </ul>
      </div>
    <% } else { %>
      <p>No history!</p>
    <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/form.js"></script>
</body>

<%- include('../includes/end.ejs') %>
