<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigations.ejs') %>

    <% if (timeLogs.length == 0) { %>
        <p>No time logs.</p>
    <%} else { %>
        <ul>
            <% for (let log of timeLogs) { %>
                <li><%= log.startedAt %> - <%= log.endedAt %></li>
            <% } %>
        </ul>
    <% } %>

    <p>Total: <%= total / 1000 / 3600 %> gio</p>
</body>

<%- include('../includes/end.ejs') %>