<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigations.ejs') %>

    <div class="px-4 py-5">
        <h1 class="mb-5">Today Time Log (<%= today %>)</h1>
    
        <% if (logs.length > 0) { %>
          <div class="card">
            <ul class="list-group list-group-flush">
              <% for( let index = 0; index < logs.length; index++ ) { %>
                <li class="list-group-item">Start: <%= logs[index].start %>  - End: <%= logs[index].end %> - Workplace: <%= logs[index].workplace %> </li>
              <% } %>
              <li class="list-group-item">Total: <%= total %>h </li>
            </ul>
          </div>
        <% } else { %>
          <p>No time logs today!</p>
        <% } %>
    
      </div>
    
</body>

<%- include('../includes/end.ejs') %>